/build
/Resources/doc/_build
/vendor
.idea/
composer.phar
composer.lock
phpunit.xml
.php_cs.cache
.phpunit.result.cache
/var
!/var/cache/.gitignore
!/var/log/.gitignore
# propel-generated stuff
Tests/Fixtures/App/app/propel/sql/
Tests/Fixtures/App/src/Sonata/TestBundle/Model/Base
Tests/Fixtures/App/src/Sonata/TestBundle/Model/Map
